@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.carousel-header {
    height: 40rem;
    position: relative;
}

.carousel-item > img {
    height: 100%;
    object-fit: cover;
}

.carousel-indicators {
    z-index: 10;
}

.carousel::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    background: linear-gradient(
        73.45deg,
        rgba(0, 0, 0, 0.72) 35.09%,
        rgba(0, 0, 0, 0) 76.23%
    );
}

.carousel-caption {
    z-index: 5;
}

.carousel-content {
    padding-bottom: 8rem;
}

.carousel-title {
    font-family: "Roboto";
}

.carousel-text {
    font-family: "Nunito";
    width: 30rem;
    text-align: left;
}

.carousel-sub {
    font-family: "Poppins";
    word-spacing: 10px;
}

.btn-add-watchlist {
    width: 15rem;
}

.carousel-indicators > .active {
    background-color: #e50914;
}

.main-body {
    background-color: #121219;
}

.card {
    overflow: hidden;
    border: none;
    background-color: transparent !important;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.card-info {
    word-spacing: 8px;
}

.genre {
    background-color: #2d2d2d;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.genre:hover,
.sort:hover,
.genre:active,
.sort:active {
    background-color: #e50914;
    color: white;
}
.sort {
    background-color: #2d2d2d;
    text-decoration: none;
    color: white;
    width: 7.5vw;
    display: flex;
    justify-content: center;
    height: 2.5vw;
    align-items: center;
    border-radius: 25px;
    margin: 0 1vw;
}

.movie-image {
    width: 15vw;
    height: auto;
    border-radius: 15px;
}

.active-genre {
    background-color: #e50914;
}

.active-sort {
    background-color: #e50914;
}
