* {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: black;
}
.form-content {
    background-color: #1f1f1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
input {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    width: 75%;
    font-size: 1vw;
}
label {
    width: 25%;
    font-weight: bold;
}
input:focus {
    color: white;
}
.name {
    color: white;
}
.email {
    color: white;
    opacity: 50%;
}
.job {
    color: white;
    opacity: 50%;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffff !important;
}

.modal-content {
    background-color: #1b1b1e;
    color: #ffffff;
}

.status-btn {
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    color: white;
}

.status-btn:hover {
    background-color: #e50914;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

#input-link {
    margin-bottom: 0.5em;
    background-color: #131315;
    border-color: #131315;
    color: #ffffff;
}

.link-muted {
    margin-left: 0.3em;
}

.save-btn,
.save-btn:hover,
.save-btn:focus:not(:active) {
    background-color: #e50914;
    border-color: #e50914;
    outline: none;
}

.save-changes-btn {
    font-size: 1.5rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
